flow_sma.json
[{"id":"6e9f28a2.16b088","type":"tab","label":"Flow SMA","disabled":false,"info":""},{"id":"3925e1de.a66a96","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":2,"width":0,"height":0,"name":"Bezug","label":"<b><font color=red>Bezug","format":"{{msg.payload.P_bez}} W","layout":"row-spread","x":990,"y":700,"wires":[]},{"id":"7664e2f2.f7c174","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":1,"width":0,"height":0,"name":"Einspeisung","label":"<b><font color=orange>Einspeisung","format":"{{msg.payload.P_ein}} W","layout":"row-spread","x":1010,"y":760,"wires":[]},{"id":"8bb6cf58.c755c","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":5,"width":0,"height":0,"name":"","label":"Blindleistung","format":"{{msg.payload.Q}} var","layout":"row-spread","x":850,"y":260,"wires":[]},{"id":"c52dfab.29f0188","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":7,"width":0,"height":0,"name":"Frequenz","label":"Frequenz","format":"{{msg.payload.Hz}} Hz","layout":"row-spread","x":840,"y":300,"wires":[]},{"id":"82b0f8e.6c81208","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":6,"width":0,"height":0,"name":"cosphi","label":"cos phi","format":"{{msg.payload.cos_phi}}","layout":"row-spread","x":830,"y":340,"wires":[]},{"id":"3a23a92a.c9ab5e","type":"ui_text","z":"6e9f28a2.16b088","group":"6854fdc6d826a885","order":4,"width":0,"height":0,"name":"Bezug L1","label":"<font color=red>Bezug L1","format":"{{msg.payload.P1_bez}} W","layout":"row-spread","x":1140,"y":180,"wires":[]},{"id":"741bf189.94a","type":"ui_text","z":"6e9f28a2.16b088","group":"6854fdc6d826a885","order":1,"width":0,"height":0,"name":"Einspeisung L1","label":"<font color=orange>Einspeisung L1","format":"{{msg.payload.P1_ein}} W","layout":"row-spread","x":1160,"y":220,"wires":[]},{"id":"9b886b46.6d92f","type":"ui_text","z":"6e9f28a2.16b088","group":"7f9b1b2b.f438bc","order":1,"width":0,"height":0,"name":"","label":"Blindleistung L1","format":"{{msg.payload.Q1}} var","layout":"row-spread","x":1160,"y":260,"wires":[]},{"id":"13da8ceb.6f67fb","type":"ui_text","z":"6e9f28a2.16b088","group":"80b4ccf25a3b9132","order":4,"width":0,"height":0,"name":"Strom L1","label":"Strom L1","format":"{{msg.payload.I11}} A","layout":"row-spread","x":1140,"y":300,"wires":[]},{"id":"b9e36c8d.82ac5","type":"ui_text","z":"6e9f28a2.16b088","group":"80b4ccf25a3b9132","order":1,"width":0,"height":0,"name":"Spannung L1","label":"Spannung L1","format":"{{msg.payload.U1}} V","layout":"row-spread","x":1160,"y":340,"wires":[]},{"id":"2bb54951.dd5dd6","type":"ui_text","z":"6e9f28a2.16b088","group":"6854fdc6d826a885","order":5,"width":0,"height":0,"name":"Bezug L2","label":"<font color=red>Bezug L2","format":"{{msg.payload.P2_bez}} W","layout":"row-spread","x":1440,"y":180,"wires":[]},{"id":"e178e035.d5a868","type":"ui_text","z":"6e9f28a2.16b088","group":"6854fdc6d826a885","order":2,"width":0,"height":0,"name":"Einspeisung L2","label":"<font color=orange>Einspeisung L2","format":"{{msg.payload.P2_ein}} W","layout":"row-spread","x":1460,"y":220,"wires":[]},{"id":"fbfd10a.d9b3f7","type":"ui_text","z":"6e9f28a2.16b088","group":"7f9b1b2b.f438bc","order":2,"width":0,"height":0,"name":"","label":"Blindleistung L2","format":"{{msg.payload.Q2}} var","layout":"row-spread","x":1460,"y":260,"wires":[]},{"id":"7eea6d48.d84744","type":"ui_text","z":"6e9f28a2.16b088","group":"80b4ccf25a3b9132","order":5,"width":0,"height":0,"name":"Strom L2","label":"Strom L2","format":"{{msg.payload.I22}} A","layout":"row-spread","x":1440,"y":300,"wires":[]},{"id":"12a53082.e5a48f","type":"ui_text","z":"6e9f28a2.16b088","group":"80b4ccf25a3b9132","order":2,"width":0,"height":0,"name":"Spannung L2","label":"Spannung L2","format":"{{msg.payload.U2}} V","layout":"row-spread","x":1460,"y":340,"wires":[]},{"id":"e54740c5.49cae8","type":"ui_text","z":"6e9f28a2.16b088","group":"6854fdc6d826a885","order":6,"width":0,"height":0,"name":"Bezug L3","label":"<font color=red>Bezug L3","format":"{{msg.payload.P3_bez}} W","layout":"row-spread","x":1740,"y":180,"wires":[]},{"id":"c6bddf49.101828","type":"ui_text","z":"6e9f28a2.16b088","group":"6854fdc6d826a885","order":3,"width":0,"height":0,"name":"Einspeisung L3","label":"<font color=orange>Einspeisung L3","format":"{{msg.payload.P3_ein}} W","layout":"row-spread","x":1760,"y":220,"wires":[]},{"id":"8af29c29.cf519","type":"ui_text","z":"6e9f28a2.16b088","group":"7f9b1b2b.f438bc","order":3,"width":0,"height":0,"name":"","label":"Blindleistung L3","format":"{{msg.payload.Q3}} var","layout":"row-spread","x":1760,"y":260,"wires":[]},{"id":"37a21b41.e177e4","type":"ui_text","z":"6e9f28a2.16b088","group":"80b4ccf25a3b9132","order":6,"width":0,"height":0,"name":"Strom L3","label":"Strom L3","format":"{{msg.payload.I33}} A","layout":"row-spread","x":1740,"y":300,"wires":[]},{"id":"19ba601d.26fe38","type":"ui_text","z":"6e9f28a2.16b088","group":"80b4ccf25a3b9132","order":3,"width":0,"height":0,"name":"Spannung L3","label":"Spannung L3","format":"{{msg.payload.U3}} V","layout":"row-spread","x":1760,"y":340,"wires":[]},{"id":"efa1a740.83bdd","type":"ui_text","z":"6e9f28a2.16b088","group":"7f9b1b2b.f438bc","order":4,"width":0,"height":0,"name":"cos phi L1","label":"cos phi L1","format":"{{msg.payload.cos_phi1}}","layout":"row-spread","x":1150,"y":380,"wires":[]},{"id":"6157f75d.542c98","type":"ui_text","z":"6e9f28a2.16b088","group":"7f9b1b2b.f438bc","order":5,"width":0,"height":0,"name":"cos phi L2","label":"cos phi L2","format":"{{msg.payload.cos_phi2}}","layout":"row-spread","x":1450,"y":380,"wires":[]},{"id":"e77bb50e.86cf9","type":"ui_text","z":"6e9f28a2.16b088","group":"7f9b1b2b.f438bc","order":6,"width":0,"height":0,"name":"cos phi L3","label":"cos phi L3","format":"{{msg.payload.cos_phi3}}","layout":"row-spread","x":1750,"y":380,"wires":[]},{"id":"a7538f00.b79748","type":"ui_text","z":"6e9f28a2.16b088","group":"e4be6a94.10844","order":1,"width":0,"height":0,"name":"Bezug gesamt","label":"<b><font color=red> Bezug gesamt","format":"{{msg.payload.W_bez}} kWh","layout":"row-spread","x":860,"y":480,"wires":[]},{"id":"d76bd364.777118","type":"ui_text","z":"6e9f28a2.16b088","group":"e4be6a94.10844","order":2,"width":0,"height":0,"name":"Einspeisung ges","label":"<b><font color=orange> Einspeisung gesamt","format":"{{msg.payload.W_ein}} kWh","layout":"row-spread","x":860,"y":520,"wires":[]},{"id":"291292a4.a356f6","type":"ui_text","z":"6e9f28a2.16b088","group":"e4be6a94.10844","order":4,"width":0,"height":0,"name":"Blindarbeit kap.","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W_Q_kap}} kvarh","layout":"row-spread","x":860,"y":560,"wires":[]},{"id":"5701cc48.00331c","type":"ui_text","z":"6e9f28a2.16b088","group":"e4be6a94.10844","order":6,"width":0,"height":0,"name":"Blindarbeit ind.","label":"Blindarbeit induktiv","format":"{{msg.payload.W_Q_ind}} kvarh","layout":"row-spread","x":860,"y":600,"wires":[]},{"id":"b62abea6.f9e11","type":"ui_text","z":"6e9f28a2.16b088","group":"54754f51.dce238","order":1,"width":0,"height":0,"name":"Bezug L1","label":"<font color=red> Bezug L1","format":"{{msg.payload.W1_bez}} kWh","layout":"row-spread","x":1140,"y":480,"wires":[]},{"id":"5914dc80.bea444","type":"ui_text","z":"6e9f28a2.16b088","group":"54754f51.dce238","order":3,"width":0,"height":0,"name":"Einspeisung L1","label":"<font color=orange> Einspeisung L1","format":"{{msg.payload.W1_ein}} kWh","layout":"row-spread","x":1160,"y":520,"wires":[]},{"id":"114632b5.82faf5","type":"ui_text","z":"6e9f28a2.16b088","group":"54754f51.dce238","order":5,"width":0,"height":0,"name":"Blindarbeit kap. L1","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W1_Q_kap}} kvarh","layout":"row-spread","x":1170,"y":560,"wires":[]},{"id":"76c2845c.f3b674","type":"ui_text","z":"6e9f28a2.16b088","group":"54754f51.dce238","order":7,"width":0,"height":0,"name":"Blindarbeit ind. L1","label":"Blindarbeit induktiv","format":"{{msg.payload.W1_Q_ind}} kvarh","layout":"row-spread","x":1170,"y":600,"wires":[]},{"id":"c26136e3.bdb0f8","type":"ui_text","z":"6e9f28a2.16b088","group":"43603218.aa1924","order":1,"width":0,"height":0,"name":"Bezug L2","label":"<font color=red> Bezug L2","format":"{{msg.payload.W2_bez}} kWh","layout":"row-spread","x":1440,"y":480,"wires":[]},{"id":"c95473c6.39c0b","type":"ui_text","z":"6e9f28a2.16b088","group":"43603218.aa1924","order":3,"width":0,"height":0,"name":"Einspeisung L2","label":"<font color=orange> Einspeisung L2","format":"{{msg.payload.W2_ein}} kWh","layout":"row-spread","x":1460,"y":520,"wires":[]},{"id":"781b2b9e.86ef04","type":"ui_text","z":"6e9f28a2.16b088","group":"43603218.aa1924","order":5,"width":0,"height":0,"name":"Blindarbeit kap. L2","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W2_Q_kap}} kvarh","layout":"row-spread","x":1470,"y":560,"wires":[]},{"id":"cd1fbfcb.d6d5b8","type":"ui_text","z":"6e9f28a2.16b088","group":"43603218.aa1924","order":7,"width":0,"height":0,"name":"Blindarbeit ind. L2","label":"Blindarbeit induktiv","format":"{{msg.payload.W2_Q_ind}} kvarh","layout":"row-spread","x":1470,"y":600,"wires":[]},{"id":"6e2f564a.b67e58","type":"ui_text","z":"6e9f28a2.16b088","group":"fb4ce943.94db9","order":1,"width":0,"height":0,"name":"Bezug L3","label":"<font color=red> Bezug L3","format":"{{msg.payload.W3_bez}} kWh","layout":"row-spread","x":1740,"y":480,"wires":[]},{"id":"8d921435.8903f8","type":"ui_text","z":"6e9f28a2.16b088","group":"fb4ce943.94db9","order":3,"width":0,"height":0,"name":"Einspeisung L3","label":"<font color=orange> Einspeisung L3","format":"{{msg.payload.W3_ein}} kWh","layout":"row-spread","x":1760,"y":520,"wires":[]},{"id":"6cba8b7.368c9f4","type":"ui_text","z":"6e9f28a2.16b088","group":"fb4ce943.94db9","order":5,"width":0,"height":0,"name":"Blindarbeit kap. L3","label":"Blindarbeit kapazitiv","format":"{{msg.payload.W3_Q_kap}} kvarh","layout":"row-spread","x":1770,"y":560,"wires":[]},{"id":"63df9e0b.2254f8","type":"ui_text","z":"6e9f28a2.16b088","group":"fb4ce943.94db9","order":7,"width":0,"height":0,"name":"Blindarbeit ind. L3","label":"Blindarbeit induktiv","format":"{{msg.payload.W3_Q_ind}} kvarh","layout":"row-spread","x":1770,"y":600,"wires":[]},{"id":"6fa3a49d.1e4bec","type":"udp in","z":"6e9f28a2.16b088","name":"SMA HM","iface":"","port":"9522","ipv":"udp4","multicast":"true","group":"239.12.255.254","datatype":"buffer","x":200,"y":60,"wires":[["ebc84623.f27f08"]]},{"id":"72ebe599718bdb9a","type":"buffer-parser","z":"6e9f28a2.16b088","name":"Messwerte","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"uint32be","name":"serien","offset":20,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint32be","name":"P_bez","offset":32,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P_ein","offset":52,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q_ind","offset":72,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q_kap","offset":92,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S_bez","offset":112,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S_ein","offset":132,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"cos_phi","offset":152,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"Hz","offset":160,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"P1_bez","offset":168,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P1_ein","offset":188,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q1_ind","offset":208,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q1_kap","offset":228,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S1_bez","offset":248,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S1_ein","offset":268,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"I1","offset":288,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"U1","offset":296,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"cos_phi1","offset":304,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"P2_bez","offset":312,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P2_ein","offset":332,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q2_ind","offset":352,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q2_kap","offset":372,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S2_bez","offset":392,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S2_ein","offset":412,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"I2","offset":432,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"U2","offset":440,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"cos_phi2","offset":448,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"P3_bez","offset":456,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"P3_ein","offset":476,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q3_ind","offset":496,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"Q3_kap","offset":516,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S3_bez","offset":536,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"S3_ein","offset":556,"length":1,"offsetbit":0,"scale":"0.1","mask":""},{"type":"uint32be","name":"I3","offset":576,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"U3","offset":584,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint32be","name":"cos_phi3","offset":592,"length":1,"offsetbit":0,"scale":"0.001","mask":""},{"type":"uint8","name":"v1","offset":600,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint8","name":"v2","offset":601,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"uint8","name":"v3","offset":602,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"utf8","name":"r","offset":603,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":410,"y":220,"wires":[["80cf3b8f5366e964","4579839580c59f3f","fb0a75611e8a0339"]]},{"id":"612794d01b5cb9ad","type":"buffer-parser","z":"6e9f28a2.16b088","name":"Zähler","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"biguint64be","name":"W_bez","offset":40,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_ein","offset":60,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_Q_ind","offset":80,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_Q_kap","offset":100,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_S_bez","offset":120,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W_S_ein","offset":140,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_bez","offset":176,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_ein","offset":196,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_Q_ind","offset":216,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_Q_kap","offset":236,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_S_bez","offset":256,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W1_S_ein","offset":276,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_bez","offset":320,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_ein","offset":340,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_Q_ind","offset":360,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_Q_kap","offset":380,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_S_bez","offset":400,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W2_S_ein","offset":420,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_bez","offset":464,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_ein","offset":484,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_Q_ind","offset":504,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_Q_kap","offset":524,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_S_bez","offset":544,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"biguint64be","name":"W3_S_ein","offset":564,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"output","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":390,"y":500,"wires":[["afe10d6a8e05b465"]]},{"id":"afe10d6a8e05b465","type":"function","z":"6e9f28a2.16b088","name":"BigInt zu Num","func":"//Ws zu kWh\nW_bez = Number(msg.payload.W_bez) /3600000;\nW_ein = Number(msg.payload.W_ein) /3600000;\nW_bez2 = Number(msg.payload.W_bez) /3600; //Wh für openWB\nW_ein2 = Number(msg.payload.W_ein) /3600; //Wh für openWB\nW_Q_ind = Number(msg.payload.W_Q_ind) /3600000;\nW_Q_kap = Number(msg.payload.W_Q_kap) /3600000;\nW1_bez = Number(msg.payload.W1_bez) /3600000;\nW1_ein = Number(msg.payload.W1_ein) /3600000;\nW1_Q_ind = Number(msg.payload.W1_Q_ind) /3600000;\nW1_Q_kap = Number(msg.payload.W1_Q_kap) /3600000;\nW2_bez = Number(msg.payload.W2_bez) /3600000;\nW2_ein = Number(msg.payload.W2_ein) /3600000;\nW2_Q_ind = Number(msg.payload.W2_Q_ind) /3600000;\nW2_Q_kap = Number(msg.payload.W2_Q_kap) /3600000;\nW3_bez = Number(msg.payload.W3_bez) /3600000;\nW3_ein = Number(msg.payload.W3_ein) /3600000;\nW3_Q_ind = Number(msg.payload.W3_Q_ind) /3600000;\nW3_Q_kap = Number(msg.payload.W3_Q_kap) /3600000;\nmsg.payload = {W_bez,W_ein,W_bez2,W_ein2,W_Q_ind,W_Q_kap,W1_bez,W1_ein,W1_Q_ind,W1_Q_kap,W2_bez,W2_ein,W2_Q_ind,W2_Q_kap,W3_bez,W3_ein,W3_Q_ind,W3_Q_kap};\nmsg.topic = \"Zähler\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":500,"wires":[["a7538f00.b79748","d76bd364.777118","291292a4.a356f6","5701cc48.00331c","571ef2b0d9c71009"]]},{"id":"c6e2656cce71873d","type":"function","z":"6e9f28a2.16b088","name":"= 608 Bytes","func":"if (msg.payload.length !== 608) {\n     msg = null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":220,"wires":[["72ebe599718bdb9a","612794d01b5cb9ad"]]},{"id":"4579839580c59f3f","type":"function","z":"6e9f28a2.16b088","name":"Firmware","func":"msg.payload=msg.payload.v1+\".\"+msg.payload.v2+\".\"+msg.payload.v3+\".\"+msg.payload.r;\nmsg.topic = \"Firmware Version\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":420,"wires":[["7c551989040f23e7"]]},{"id":"7c551989040f23e7","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":8,"width":0,"height":0,"name":"","label":"Firmware Version","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":420,"wires":[]},{"id":"80cf3b8f5366e964","type":"function","z":"6e9f28a2.16b088","name":"Messwerte","func":"// gesamt\nP_bez = msg.payload.P_bez;\nP_bez = parseFloat(P_bez.toFixed(1));\nP_bez2 = parseFloat(P_bez.toFixed(0));\nP_ein = msg.payload.P_ein;\nP_ein = parseFloat(P_ein.toFixed(1));\nP_ein2 = parseFloat(P_ein.toFixed(0));\nQ_ind = msg.payload.Q_ind;\nQ_kap = msg.payload.Q_kap;\nvar Q;\nif (Q_ind > 0 && Q_kap == 0) {\n    Q = Q_ind * -1;\n} else {\n    Q = Q_kap;\n}\nQ = parseFloat(Q.toFixed(0));\ncos_phi = msg.payload.cos_phi;\ncos_phi = parseFloat(cos_phi.toFixed(2));\nHz = msg.payload.Hz;\nHz = parseFloat(Hz.toFixed(3));\n// L1\nP1_bez = msg.payload.P1_bez;\nP1_bez = parseFloat(P1_bez.toFixed(1));\nQ1_ind = msg.payload.Q1_ind;\nQ1_kap = msg.payload.Q1_kap;\nvar Q1;\nif (Q1_ind > 0 && Q1_kap == 0) {\n    Q1 = Q1_ind * -1;\n} else {\n    Q1 = Q1_kap;\n}\nQ1 = parseFloat(Q1.toFixed(0));\nU1 = msg.payload.U1;\nU1 = parseFloat(U1.toFixed(2));\ncos_phi1 = msg.payload.cos_phi1;\ncos_phi1 = parseFloat(cos_phi1.toFixed(2));\n// L2\nP2_bez = msg.payload.P2_bez;\nP2_bez = parseFloat(P2_bez.toFixed(1));\nQ2_ind = msg.payload.Q2_ind;\nQ2_kap = msg.payload.Q2_kap;\nvar Q2;\nif (Q2_ind > 0 && Q2_kap == 0) {\n    Q2 = Q2_ind * -1;\n} else {\n    Q2 = Q2_kap;\n}\nQ2 = parseFloat(Q2.toFixed(0));\nU2 = msg.payload.U2;\nU2 = parseFloat(U2.toFixed(2));\ncos_phi2 = msg.payload.cos_phi2;\ncos_phi2 = parseFloat(cos_phi2.toFixed(2));\n// L3\nP3_bez = msg.payload.P3_bez;\nP3_bez = parseFloat(P3_bez.toFixed(1));\nQ3_ind = msg.payload.Q3_ind;\nQ3_kap = msg.payload.Q3_kap;\nvar Q3;\nif (Q3_ind > 0 && Q3_kap == 0) {\n    Q3 = Q3_ind * -1;\n} else {\n    Q3 = Q3_kap;\n}\nQ3 = parseFloat(Q3.toFixed(0));\nU3 = msg.payload.U3;\nU3 = parseFloat(U3.toFixed(2));\ncos_phi3 = msg.payload.cos_phi3;\ncos_phi3 = parseFloat(cos_phi3.toFixed(2));\n// Ströme mit Vorzeichen\nI1 = msg.payload.I1;\nI2 = msg.payload.I2;\nI3 = msg.payload.I3;\nE1 = msg.payload.P1_ein;\nP1_ein = parseFloat(E1.toFixed(1));\nE2 = msg.payload.P2_ein;\nP2_ein = parseFloat(E2.toFixed(1));\nE3 = msg.payload.P3_ein;\nP3_ein = parseFloat(E3.toFixed(1));\nvar I1a;\nvar I2a;\nvar I3a;\nif(E1 > 0 ) {\n    I1a = I1 * (-1);\n} else {\n    I1a = I1;\n}\nif(E2 > 0 ) {\n    I2a = I2 * (-1);\n} else {\n    I2a = I2;\n}\nif(E3 > 0 ) {\n    I3a = I3 * (-1);\n} else {\n    I3a = I3;\n}\nI11 = parseFloat(I1a.toFixed(2));\nI22 = parseFloat(I2a.toFixed(2));\nI33 = parseFloat(I3a.toFixed(2));\nmsg.payload = {P_bez,P_bez2,P_ein,P_ein2,Q,cos_phi,Hz,P1_bez,P1_ein,Q1,I11,U1,cos_phi1,P2_bez,P2_ein,Q2,I22,U2,cos_phi2,P3_bez,P3_ein,Q3,I33,U3,cos_phi3};\nmsg.topic = \"Messwerte\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":220,"wires":[["8bb6cf58.c755c","c52dfab.29f0188","82b0f8e.6c81208","63a59f5304ec31e9"]]},{"id":"d679413920483c79","type":"link in","z":"6e9f28a2.16b088","name":"Messwerte","links":["63a59f5304ec31e9"],"x":995,"y":280,"wires":[["3a23a92a.c9ab5e","741bf189.94a","9b886b46.6d92f","13da8ceb.6f67fb","b9e36c8d.82ac5","efa1a740.83bdd"]]},{"id":"63a59f5304ec31e9","type":"link out","z":"6e9f28a2.16b088","name":"Messwerte","links":["388da67ab8f60a41","3c0f4a40954e8edf","d679413920483c79","7932dac8bc4be745","c3d4ebfcc07306c5"],"x":655,"y":280,"wires":[]},{"id":"3c0f4a40954e8edf","type":"link in","z":"6e9f28a2.16b088","name":"Messwerte","links":["63a59f5304ec31e9"],"x":1295,"y":280,"wires":[["2bb54951.dd5dd6","e178e035.d5a868","fbfd10a.d9b3f7","7eea6d48.d84744","12a53082.e5a48f","6157f75d.542c98","552e5ed440b3a2fc"]]},{"id":"388da67ab8f60a41","type":"link in","z":"6e9f28a2.16b088","name":"Messwerte","links":["63a59f5304ec31e9"],"x":1595,"y":280,"wires":[["e54740c5.49cae8","c6bddf49.101828","8af29c29.cf519","37a21b41.e177e4","19ba601d.26fe38","e77bb50e.86cf9"]]},{"id":"571ef2b0d9c71009","type":"link out","z":"6e9f28a2.16b088","name":"Zähler","links":["685dc691179583d4","16a19c839aa8a4ab","e77cf91771801ff9","253f20f0e2e94fde","7bb1ec998fb42e79"],"x":665,"y":540,"wires":[]},{"id":"685dc691179583d4","type":"link in","z":"6e9f28a2.16b088","name":"Zähler","links":["571ef2b0d9c71009"],"x":995,"y":540,"wires":[["b62abea6.f9e11","5914dc80.bea444","114632b5.82faf5","76c2845c.f3b674"]]},{"id":"16a19c839aa8a4ab","type":"link in","z":"6e9f28a2.16b088","name":"Zähler","links":["571ef2b0d9c71009"],"x":1595,"y":540,"wires":[["6e2f564a.b67e58","8d921435.8903f8","6cba8b7.368c9f4","63df9e0b.2254f8"]]},{"id":"e77cf91771801ff9","type":"link in","z":"6e9f28a2.16b088","name":"Zähler","links":["571ef2b0d9c71009"],"x":1295,"y":540,"wires":[["c26136e3.bdb0f8","c95473c6.39c0b","781b2b9e.86ef04","cd1fbfcb.d6d5b8"]]},{"id":"552e5ed440b3a2fc","type":"function","z":"6e9f28a2.16b088","name":"Schieflast","func":"I1 = msg.payload.I11;\nI2 = msg.payload.I22;\nI3 = msg.payload.I33;\nmax = Math.max(I1,I2,I3);\nIa = max - I1;\nIb = max - I2;\nIc = max - I3;\nI = Math.max(Ia,Ib,Ic);\nmsg.payload = parseFloat(I.toFixed(1));\nmsg.topic = \"Schieflast\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":420,"wires":[["77af29228e50f2df"]]},{"id":"77af29228e50f2df","type":"ui_text","z":"6e9f28a2.16b088","group":"80b4ccf25a3b9132","order":7,"width":0,"height":0,"name":"Schieflast","label":"Schieflast","format":"{{msg.payload}} A","layout":"row-spread","x":1740,"y":420,"wires":[]},{"id":"fb0a75611e8a0339","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":9,"width":0,"height":0,"name":"","label":"Serien Nr.","format":"{{msg.payload.serien}}","layout":"row-spread","x":600,"y":180,"wires":[]},{"id":"c0ab0d62.f7d28","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/ppurchase","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1260,"y":1120,"wires":[]},{"id":"9ad58bee.a5a6a8","type":"function","z":"6e9f28a2.16b088","name":"P Bezug","func":"msg.payload = msg.payload.P_bez;\nmsg.topic = \"P_bez\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1120,"wires":[["c0ab0d62.f7d28"]]},{"id":"6fe86e11.beeb6","type":"function","z":"6e9f28a2.16b088","name":"P Einspeisung","func":"msg.payload = msg.payload.P_ein;\nmsg.topic = \"P_ein\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1180,"wires":[["a60b025e.b18f98"]]},{"id":"a60b025e.b18f98","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/pfeed","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1240,"y":1180,"wires":[]},{"id":"df326473.7b369","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":3,"width":0,"height":0,"name":"PV Erzeugung","label":"<b><font color=green>PV Erzeugung","format":"{{msg.payload.P_generate}} W","layout":"row-spread","x":1020,"y":820,"wires":[]},{"id":"5023cf57.d80708","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":4,"width":0,"height":0,"name":"Verbrauch","label":"<b><font color=black>Verbrauch","format":"{{msg.payload.P_home}} W","layout":"row-spread","x":1010,"y":880,"wires":[]},{"id":"213d0602.c1e2aa","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/pconsume","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1260,"y":1300,"wires":[]},{"id":"d31e9517.05939","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/pgenerate","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1260,"y":1240,"wires":[]},{"id":"ebc84623.f27f08","type":"delay","z":"6e9f28a2.16b088","name":"Limit 10s","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["c6e2656cce71873d"]]},{"id":"706cb22a.f1a894","type":"change","z":"6e9f28a2.16b088","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{Content-Type: application/json\"}","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"right\": \"usr\", \"pass\": \"YOUR_INVERTER_PASSWORD\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":880,"wires":[["3c64f4e0.c14744"]]},{"id":"391f3dd4.1f88a2","type":"inject","z":"6e9f28a2.16b088","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":820,"wires":[["706cb22a.f1a894"]]},{"id":"3c64f4e0.c14744","type":"http request","z":"6e9f28a2.16b088","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://sma0123456789.local/dyn/login.json","tls":"","persist":true,"proxy":"","authType":"","x":390,"y":940,"wires":[["3b06b401.b2e97c"]]},{"id":"9bec8c84.eaee9","type":"change","z":"6e9f28a2.16b088","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{Content-Type: application/json\"}","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1200,"wires":[["d166b93c.27ee38"]]},{"id":"d166b93c.27ee38","type":"http request","z":"6e9f28a2.16b088","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://sma0123456789.local/dyn/logout.json?sid={{sid}}","tls":"","persist":true,"proxy":"","authType":"","x":390,"y":1260,"wires":[[]]},{"id":"3b06b401.b2e97c","type":"function","z":"6e9f28a2.16b088","name":"session ID","func":"msg.sid = msg.payload.result.sid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":1000,"wires":[["3cfd8fd9.b8af08"]]},{"id":"3cfd8fd9.b8af08","type":"change","z":"6e9f28a2.16b088","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{Content-Type: application/json\"}","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"destDev\": [], \"keys\": [\"6100_40463600\", \"6100_40463700\", \"6100_0046C200\", \"6100_00496900\", \"6100_00496A00\", \"6100_00295A00\", \"6400_00462400\", \"6400_00462500\"]}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1060,"wires":[["26395d15.4f5e7a"]]},{"id":"26395d15.4f5e7a","type":"http request","z":"6e9f28a2.16b088","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://sma0123456789.local/dyn/getValues.json?sid={{sid}}","tls":"","persist":true,"proxy":"","authType":"","x":390,"y":1120,"wires":[["9bec8c84.eaee9","1a680387.8948a4"]]},{"id":"1a680387.8948a4","type":"function","z":"6e9f28a2.16b088","name":"Messwerte 2","func":"var arr_p_supply         = msg.payload.result[\"01B8-xxxxx5B3\"][\"6100_40463600\"];\nvar arr_p_perchase       = msg.payload.result[\"01B8-xxxxx5B3\"][\"6100_40463700\"];\nvar arr_p_generate       = msg.payload.result[\"01B8-xxxxx5B3\"][\"6100_0046C200\"];\nvar arr_p_batcharge      = msg.payload.result[\"01B8-xxxxx5B3\"][\"6100_00496900\"];\nvar arr_p_batdischarge   = msg.payload.result[\"01B8-xxxxx5B3\"][\"6100_00496A00\"];\nvar arr_state_bat        = msg.payload.result[\"01B8-xxxxx5B3\"][\"6100_00295A00\"];\nvar arr_energy_yield     = msg.payload.result[\"01B8-xxxxx5B3\"][\"6400_00462400\"];\nvar arr_energy_absorb    = msg.payload.result[\"01B8-xxxxx5B3\"][\"6400_00462500\"];\n\nP_supply = arr_p_supply[\"9\"][0].val;\nP_perchase = arr_p_perchase[\"9\"][0].val;\nP_generate = arr_p_generate[\"9\"][0].val;\nP_batcharge = arr_p_batcharge[\"9\"][0].val;\nP_batdischarge = arr_p_batdischarge[\"9\"][0].val;\nP_home = 0;\nS_bat = arr_state_bat[\"9\"][0].val;\nE_yield = arr_energy_yield[\"9\"][0].val;\nE_absorb = arr_energy_absorb[\"9\"][0].val;\n\nif (!(((P_supply > 0) && (P_perchase > 0)) || ((P_batdischarge > 0) && (P_batcharge > 0))))\n{\n    P_home = P_generate + P_perchase  + P_batdischarge - P_supply - P_batcharge;\n}\n\nif (P_home < 0)\n{\n   P_home = 0; \n}\n\nP_bez = P_perchase;\nP_ein = P_supply;\n\nmsg.payload = {P_bez, P_ein, P_perchase, P_supply, P_generate, P_batcharge, P_batdischarge, P_home, S_bat, E_yield, E_absorb};\nmsg.topic = \"Messwerte2\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1120,"wires":[["e00ec6ff.852868","df326473.7b369","3925e1de.a66a96","7664e2f2.f7c174","9ad58bee.a5a6a8","6fe86e11.beeb6","9aa0b5cc.0f7768","5023cf57.d80708","b819c84c.72214","9cc98285.d980b8","a1a36816.7edf3","86ab48c5.dd69c","2c6c52b7.fd6a76","6bf74ace.28c0fc","3fb615e3.d2a052","d98390cc.4ce05","88841f23.69a31"]]},{"id":"e00ec6ff.852868","type":"debug","z":"6e9f28a2.16b088","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":1260,"wires":[]},{"id":"9aa0b5cc.0f7768","type":"function","z":"6e9f28a2.16b088","name":"P Erzeugung","func":"msg.payload = msg.payload.P_generate;\nmsg.topic = \"P_generate\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":1240,"wires":[["d31e9517.05939"]]},{"id":"b819c84c.72214","type":"function","z":"6e9f28a2.16b088","name":"P Verbrauch","func":"msg.payload = msg.payload.P_home;\nmsg.topic = \"P_home\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":1300,"wires":[["213d0602.c1e2aa"]]},{"id":"9cc98285.d980b8","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":4,"width":0,"height":0,"name":"Batterie Ladung","label":"<b><font color=blue>Batterie Ladung","format":"{{msg.payload.P_batcharge}} W","layout":"row-spread","x":1020,"y":940,"wires":[]},{"id":"a1a36816.7edf3","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":4,"width":0,"height":0,"name":"Batterie Entladung","label":"<b><font color=#8080ff>Batterie Entladung","format":"{{msg.payload.P_batdischarge}} W","layout":"row-spread","x":1030,"y":1000,"wires":[]},{"id":"86ab48c5.dd69c","type":"function","z":"6e9f28a2.16b088","name":"P Batterie Laden","func":"msg.payload = msg.payload.P_batcharge;\nmsg.topic = \"P_batcharge\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1360,"wires":[["2bba694b.81dea6"]]},{"id":"2c6c52b7.fd6a76","type":"function","z":"6e9f28a2.16b088","name":"P Batterie Entladen","func":"msg.payload = msg.payload.P_batdischarge;\nmsg.topic = \"P_batdischarge\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1420,"wires":[["4044b3f4.50b31c"]]},{"id":"2bba694b.81dea6","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/pcharge","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1250,"y":1360,"wires":[]},{"id":"4044b3f4.50b31c","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/pdischarge","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1260,"y":1420,"wires":[]},{"id":"6bf74ace.28c0fc","type":"ui_text","z":"6e9f28a2.16b088","group":"bd2545e77e4ee7ee","order":4,"width":0,"height":0,"name":"Batterie Ladezustand","label":"<b><font color=#c0c0ff>Batterie Ladezustand","format":"{{msg.payload.S_bat}} %","layout":"row-spread","x":1040,"y":1060,"wires":[]},{"id":"3fb615e3.d2a052","type":"function","z":"6e9f28a2.16b088","name":"Batterie Ladezustand","func":"msg.payload = msg.payload.S_bat;\nmsg.topic = \"S_bat\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1480,"wires":[["119bc974.496f4f"]]},{"id":"d98390cc.4ce05","type":"function","z":"6e9f28a2.16b088","name":"Energie Einspeisung","func":"msg.payload = parseFloat((msg.payload.E_yield / 1000).toFixed(1));\nmsg.topic = \"E_yield\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":1540,"wires":[["9ff267a0.2f875"]]},{"id":"88841f23.69a31","type":"function","z":"6e9f28a2.16b088","name":"Energie Bezug","func":"msg.payload = parseFloat((msg.payload.E_absorb / 1000).toFixed(1));\nmsg.topic = \"E_absorb\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1600,"wires":[["d43b1b2a.e37cf"]]},{"id":"119bc974.496f4f","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/sbatcharge","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1280,"y":1480,"wires":[]},{"id":"9ff267a0.2f875","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/eyield","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1260,"y":1540,"wires":[]},{"id":"d43b1b2a.e37cf","type":"mqtt out","z":"6e9f28a2.16b088","name":"","topic":"/00d0935D9eb9/eabsorb","qos":"2","retain":"true","broker":"52f9508.8cbe1b","x":1270,"y":1600,"wires":[]},{"id":"bd2545e77e4ee7ee","type":"ui_group","name":"Gesamt","tab":"1160710e.823717","order":1,"disp":true,"width":7,"collapse":false},{"id":"6854fdc6d826a885","type":"ui_group","name":"Phasen","tab":"1160710e.823717","order":2,"disp":true,"width":7,"collapse":false},{"id":"7f9b1b2b.f438bc","type":"ui_group","name":"Blindleistung Phasen","tab":"1160710e.823717","order":4,"disp":true,"width":7,"collapse":false},{"id":"80b4ccf25a3b9132","type":"ui_group","name":"Spannung / Strom","tab":"1160710e.823717","order":3,"disp":true,"width":7,"collapse":false},{"id":"e4be6a94.10844","type":"ui_group","name":"Zähler","tab":"e144c29.81db1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"54754f51.dce238","type":"ui_group","name":"L1","tab":"e144c29.81db1c","order":2,"disp":true,"width":"6","collapse":false},{"id":"43603218.aa1924","type":"ui_group","name":"L2","tab":"e144c29.81db1c","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb4ce943.94db9","type":"ui_group","name":"L3","tab":"e144c29.81db1c","order":4,"disp":true,"width":"6","collapse":false},{"id":"52f9508.8cbe1b","type":"mqtt-broker","name":"Home","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1160710e.823717","type":"ui_tab","name":"Hausanschluss","icon":"fa-bolt ","order":1,"disabled":false,"hidden":false},{"id":"e144c29.81db1c","type":"ui_tab","name":"Zähler (SHM)","icon":"fa-list ","order":2,"disabled":false,"hidden":false}]